
@model GraniteCore2_1.Models.ViewModels.ProductViewModel
@using GraniteCore2_1.Extentions
@{
    ViewData["Title"] = "Details";
}

<br />
<h2 class="text-info">Edit product</h2>
<br />

<div class="p-4 porder rounded">
    <div class="row border p-4">
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Name" class="form-control" readonly/>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price" class="form-control" readonly/>
                </div>

            </div>
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.ProductType"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.ProductType.Name" class="form-control" readonly/>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.SpecialTag"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.SpecialTag.Name" class="form-control" readonly/>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input type="color" asp-for="Product.ShadeColor" class="form-control" disabled />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.IsAvailable"></label>
                </div>
                <div class="col-1">
                    <input type="checkbox" asp-for="Product.IsAvailable" class="form-control" disabled />
                </div>

            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.Product.Image" class="" style="width:100%; border-radius:10px; border:solid 1px #aaa" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.Product.Id">Update</a>
        <a asp-action="Index" class="btn btn-success">Back to list</a>
    </div>
</div>
